.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: #957DAD;
}

.logo {
  width: 100px;
  height: 50px;
  margin-top: 2vh;
}

.search-bar {
  margin-top: 2.5vh;
  height: 5vh;
  width: 40%;
  display: flex;
  flex-direction: row;
}

.header__searchInput {
  width: 100%;
}

.header__searchIcon {
  color: rgb(238, 231, 238);
  background-color: #000;
}

.header__login,
.header__cart,
.header__wishlist {
  display: flex;
  justify-content: space-around;
  color: black;
  margin-top: 2.5vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-right {
  float: right;
  padding-left: 1rem;
  padding-right: 1rem;
}
