.categories {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.categories_bg {
  height: 85vh;
  display: flex;
  background-color: rgb(255, 240, 252);
}

.categories__images {
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%);
}

.categories_title {
  text-align: center;
  margin-top: 2rem;
  font-size: bold;
  font-size: 2rem;
  color: rgb(78, 0, 63);
}
