.catalogue {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(255, 162, 243);
  height: 5%;
}

.catalogue__span {
  color: rgb(36, 6, 36);
}
